{% extends 'Common/template.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block page_name %}{{ siteMap['get']['name'] }}{% endblock %}
{% block page_description %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path(siteMap['list']['path']) }}"><i class="fa {{ siteMap['get']['icon'] }}"></i> {{ pageName }}</a></li>
        <li class="active">{{ siteMap['get']['name'] }}</li>
    </ol>
{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-md-12">
            {% for message in app.flashes('info') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Sukces!</h4>
                    {{ message }}
                </div>
            {% endfor %}

            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(form) }}

                            {{ form_widget(form) }}

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}