{% extends 'Common/template.twig' %}

{% block page_name %}{{ pageName }}{% endblock %}
{% block page_description %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <a href="{{ path('app_add_contractor') }}" class="btn btn-success btn-sm pull-right">Dodaj nowego kontrahenta</a>
                </div>

                <div class="box-body table-responsive">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>dsa</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>Nazwa</th>
                                    <th>NIP</th>
                                    <th>REGON</th>
                                    <th>Adres</th>
                                    <th>Kod pocztowy</th>
                                    <th>Miasto</th>
                                    <th>Telefon</th>
                                    <th>Email</th>
                                    <th>Rabat</th>
                                </tr>
                                {% for contractor in contractors %}
                                    <tr>
                                        <td>{{ contractor.id }}</td>
                                        <td>{{ contractor.name }}</td>
                                        <td>{{ contractor.nip }}</td>
                                        <td>{{ contractor.regon }}</td>
                                        <td>{{ contractor.address }}</td>
                                        <td>{{ contractor.postalCode }}</td>
                                        <td>{{ contractor.city }}</td>
                                        <td>{{ contractor.phoneNumber }}</td>
                                        <td>{{ contractor.email }}</td>
                                        <td>{{ contractor.discount }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}