{% extends 'Common/template.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block page_name %}{{ siteMap['add']['name'] }}{% endblock %}
{% block page_description %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path(siteMap['list']['path']) }}"><i class="fa {{ siteMap['add']['icon'] }}"></i> {{ pageName }}</a></li>
        <li class="active">{{ siteMap['add']['name'] }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(form) }}

                            {{ form_widget(form) }}

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}